* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body {
  min-height: 600px;
  color: white;
  font-family: "Inter", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 8%;
}

.navbar .logo img {
  width: 200px;
  height: 60px;
}

.navbar .nav {
  margin-right: 20px;
}

.navbar .nav a {
  display: inline-block;
  color: #010101;
  text-decoration: none;
  margin-left: 55px;
  font-size: 15px;
  font-weight: 500;
}

.navbar .nav .log {
  border: 1px solid black;
  padding: 0.6rem 1.5rem;
  font-size: 12px;
}

.find {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 8%;
  color: #010101;
}

.find .image img {
  width: 700px;
  height: 530px;
}

.find .hero h2 {
  width: 377px;
  height: 255px;
  font-size: 3rem;
  font-weight: 400;
  margin-top: -80px;
}
.find .hero h2 span {
  font-size: 3rem;
  font-weight: 700;
}

.find .hero p {
  margin-top: -50px;
  font-size: 1.5rem;
  font-weight: 300;
}

.find .hero a {
  text-decoration: none;
  display: inline-block;
  margin-top: 35px;
}

.find .hero .btn {
  color: #fff;
  padding: 0.8rem 1.5rem;
  background-color: #db00ff;
  border-radius: 10px;
}

.isi {
  padding: 8rem 25%;
  text-align: center;
  color: #010101;
}

.isi p {
  margin-top: 20px;
}

.isi h2 {
  margin-top: 90px;
  font-size: 1.5rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  color: #010101;
}

.nav .img img {
  width: 650px;
  height: 500px;
}

.nav .nav1 {
  margin-top: -90px;
}
.nav .nav1 p {
  margin-top: 50px;
}
